<!doctype html>
<html>
<head>
	<title>Internet of Toast</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<%- include navbar.ejs %>
	<div id="top">
		<h1 style="font-size: 5em;">Hell yeah</h1>
		<h3>Toast bitch!</h3>
	</div>
	<div style="height: 100%"></div>
	<div id="body">
		<div class="container">
			<h1>Get your fucking toast</h1>
			<form id="form" method="POST" action="/toast">
				<input type="number" name="amount">
				<input type="submit">
			</form>
			<select name="color" form="form">
				<option value="light">Light</option>
				<option value="medium">Medium</option>
				<option value="dark">Dark</option>
			</select> 
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p>Copyright &copy; The Fucking Toaster Company that doesn't exist</p>
		</div>
	</footer>
</body>
</html>